<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" class="no-js" lang="vi">
<!--<![endif]-->
<!-- Mirrored from www.thucphamsachhd.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Oct 2017 09:54:23 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Thực Phẩm Sạch HD | Thực phẩm sạch</title>
    <meta name="title" content="Thực Phẩm Sạch HD" />
    <meta name="description" content="Thực Phẩm Sạch HD nơi cung cấp các sản phẩm thịt sạch, hải sản sạch, rau củ quả sạch! đảm bảo an toàn thực phẩm đã được chứng nhận! " />

    <meta name="keywords" content="Thực phẩm sạch HD, thịt sạch, Hải sản sạch, rau củ quả sạch">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Thực phẩm sạch HD">
    <meta name="google-site-verification" content="HP0mm7s_IKN4nyiL7OhHHi9O0ogMDexf-ygC6KowF6s" bd-if="GOOGLE_SITE_VERIFICATION" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
    <meta http-equiv="Content-Language" content="vi" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:description" content="Thực Phẩm Sạch HD nơi cung cấp các sản phẩm thịt sạch, hải sản sạch, rau củ quả sạch! đảm bảo an toàn thực phẩm đã được chứng nhận! " />
    <meta property="og:title" content="Thực Phẩm Sạch HD" />
    <meta property="fb:app_id" content="1665341717126471" />
    <meta property="fb:admins" content="100001484054432" />
    <meta property="fb:admins" content="100005061010790" />
    <meta property="fb:admins" content="100002909830544" />
    <base>
    <link href="index.html" rel="canonical">
    <link rel="alternate" href="index.html" hreflang="vi-VN" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Boostrap -->
    <link href="~/Content/themes/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- main -->
    <link href="~/Content/themes/assets/css/main.css" rel="stylesheet" />
    <!-- m-extend -->
    <link href="~/Content/themes/assets/js/m-extend/m-extend.css" rel="stylesheet" />
    <!-- #### Import JS File #### -->
    <script src="~/Content/themes/assets/js/jquery-1.11.3.min.js"></script>
    <!-- <script src="js/jquery.min.1.7.js"></script> -->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
</head>
<body>
    <aside id="header" class="hidden-xs">
        <section class="container">
            <div class="header">

                <div class="alert-success col-md-12">
                    <marquee><a target="_blank" href="tung-bung-khai-truong-cua-hang-thuc-pham-sach-hd-tai-quan-3-voi-nhieu-qua-tang-hap-dan.html" title="Thịt bò sạch khuyến mãi"> Tưng bừng Khai Trương Shop Q3 tại 15 Bàn Cờ, P3, Q3 nhận ngay Vourcher giảm giá 15% + Tặng kèm nước ướp (Click ngay, số lượng có hạn)!!! </a></marquee>
                </div>

                <div class="row row-0">
                    <div class="col-md-5 col-sm-5">
                        <p class="tophotlink"> <a title="thịt Bò Mỹ" href="thit-bo-my.html">Thịt Bò Mỹ</a> | <a title="thịt Bò Úc" href="thit-sach/thit-bo-uc.html">Thịt Bò Úc</a> </p>
                        <ul class="social visible-lg">
                            <li>
                                <a target="_blank" rel="nofollow" title="Thăm Facebook Thực phẩm sạch HD" href="https://www.facebook.com/thucphamsachHD1/"><img alt="Thăm Facebook Thực phẩm sạch HD" src="~/Content/themes/assets/img/icon-fb.png"></a>
                            </li>
                            <li>
                                <a target="_blank" title="Thăm G+ Thực phẩm sạch HD" href="https://plus.google.com/+phuongtranglam?rel=author"><img alt="Thăm G+ Thực phẩm sạch HD" src="~/Content/themes/assets/img/icon-gg.png"></a>
                            </li>
                        </ul>
                        <div class="hotline">
                            <img alt="Lẻ: 0911.929.828" src="~/Content/themes/assets/img/icon-phone.png" />
                            <a href="tel:0911-929-828" title="Lẻ: 0911.929.828"> <span class="h4"> Lẻ: 0911.929.828 </span></a> <br />
                            <a href="tel:0898-422-735" title="Sỉ: 0898.422.735"> <span class="h4"> Sỉ: 0898.422.735 </span></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <section id="logo">
                            <a href="index.html" title="Thực Phẩm Sạch HD"><img class="img-responsive" src="~/Content/themes/assets/img/logo.png" alt="Thực Phẩm Sạch HD" /></a>
                        </section><!-- #logo -->
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <ul class="list-icon-service visible-lg">
                            <li>
                                <img alt=" Giao hàng <br>nhanh chóng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/gh.png">
                                <p> Giao hàng <br>nhanh chóng </p>
                            </li>
                            <li>
                                <img alt=" Xuất xứ <br>rõ ràng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/xx.png">
                                <p> Xuất xứ <br>rõ ràng </p>
                            </li>
                            <li>
                                <img alt=" An toàn<br>chất lượng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/at.png">
                                <p> An toàn<br>chất lượng </p>
                            </li>
                            <li>
                                <img alt=" Dịch vụ <br>Chuyên Nghiệp " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/vc.png">
                                <p> Dịch vụ <br>Chuyên Nghiệp </p>
                            </li>
                        </ul>
                        <ul class="list-icon-service hidden-lg ">
                            <li>
                                <img alt=" Xuất xứ <br>rõ ràng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/xx.png">
                                <p> Xuất xứ rõ ràng </p>
                            </li>
                            <li>
                                <img alt=" Giao hàng <br>nhanh chóng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/gh.png">
                                <p> Giao hàng nhanh chóng </p>
                            </li>
                            <li>
                                <img alt=" An toàn<br>chất lượng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/at.png">
                                <p> An toàn chất lượng </p>
                            </li>
                            <li>
                                <img alt=" Dịch vụ <br>Chuyên Nghiệp " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/vc.png">
                                <p> Dịch vụ chuyên nghiệp </p>
                            </li>
                        </ul>
                    </div>
                    <!-- .wrap-menu-page -->
                </div><!-- .row-0 -->
            </div>
        </section>
        <div class="main-menu">
            <section class="container">
                <div class="header-bot">
                    <div class="row">
                        <div class="col-lg-9 col-md-10 col-sm-11 padding0">
                            <section id="menu-page">
                                <nav id="max-menu-page" class="hidden-xs">
                                    <ul class="lv1">
                                        <li>
                                            <a href="index.html" title="Thực Phẩm Sạch HD">
                                                <img src="~/Content/themes/assets/img/icon-home.png" alt="Thực Phẩm Sạch HD">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cong-ty-thuc-pham-sach.html" title="Giới thiệu">
                                                Giới thiệu
                                            </a>
                                        </li>
                                        <li>
                                            <a href="help.html" title="Hợp tác">
                                                Hợp tác
                                            </a>
                                            <ul class="lv2">
                                                <li>
                                                    <a href="cung-cap-thit-nhap-khau-gia-si-cho-nha-hang-tiec-cuoi.html" title="Cung cấp thịt nhập khẩu giá sỉ cho Nhà Hàng Tiệc Cưới">
                                                        Cung cấp thịt nhập khẩu giá sỉ cho Nhà Hàng Tiệc Cưới
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="lam-sao-de-chon-dung-noi-cung-cap-thit-nhap-khau-gia-si-cho-khach-san-resort-uy-tin.html" title="Cung cấp thịt nhập khẩu giá sỉ cho Khách Sạn, Resort uy tín">
                                                        Cung cấp thịt nhập khẩu giá sỉ cho Khách Sạn, Resort uy tín
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="thit-nhap-khau-cho-nha-hang-bbq-co-hoi-tang-loi-nhuan-30-trieuthang.html" title="CUNG CẤP THỊT NHẬP KHẨU CHO NHÀ HÀNG BBQ">
                                                        CUNG CẤP THỊT NHẬP KHẨU CHO NHÀ HÀNG BBQ
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="co-hoi-kinh-doanh-cho-dai-ly-va-doi-tac.html" title="Cơ hội kinh doanh cho Đại lý và Đối tác">
                                                        Cơ hội kinh doanh cho Đại lý và Đối tác
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="von-nho-sinh-loi-nhanh-khi-ban-buon-thit-nhap-khau.html" title="Vốn nhỏ sinh lời nhanh khi bán buôn thịt nhập khẩu">
                                                        Vốn nhỏ sinh lời nhanh khi bán buôn thịt nhập khẩu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="mo-dai-ly-thit-nhap-khau-o-viet-nam-co-hoi-kinh-doanh-von-nho-loi-to.html" title="HƯỚNG DẪN MỞ ĐẠI LÝ THỊT NHẬP KHẨU Ở VIỆT NAM">
                                                        HƯỚNG DẪN MỞ ĐẠI LÝ THỊT NHẬP KHẨU Ở VIỆT NAM
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="news.html" title="Tin tức">
                                                Tin tức
                                            </a>
                                            <ul class="lv2">
                                                <li>
                                                    <a href="kinh-nghiem-meo-hay-am-thuc.html" title="Kinh nghiệm &amp; mẹo hay">
                                                        Kinh nghiệm &amp; mẹo hay
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="thuc-pham-sach-cho-me-va-be.html" title="Thịt bò cho mẹ và bé">
                                                        Thịt bò cho mẹ và bé
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="thuc-pham-cho-nguoi-tap-gym.html" title="Thực phẩm cho người tập gym">
                                                        Thực phẩm cho người tập gym
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="chuyen-muc-cac-mon-an.html" title="Hướng dẫn món ăn ngon">
                                                        Hướng dẫn món ăn ngon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="thi-truong-thuc-pham-sach.html" title="Thị trường thực phẩm">
                                                        Thị trường thực phẩm
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="khuyen-mai.html" title="Khuyến mãi">
                                                        Khuyến mãi
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="top-quan-an-nha-hang-ngon-sach.html" title="Top Quán ăn - Nhà hàng ngon sạch">
                                                        Top Quán ăn - Nhà hàng ngon sạch
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="tin-tuc-thuc-pham-sach-hd.html" title="Tin tức Thực phẩm sạch HD">
                                                        Tin tức Thực phẩm sạch HD
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="video-thuc-pham-sach.html" title="Video">
                                                Video
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#" title="Bảng giá">
                                                Bảng giá
                                            </a>
                                            <ul class="lv2">
                                                <li>
                                                    <a href="bang-gia-thit-bo-my.html" title="Bảng giá thịt bò Mỹ">
                                                        Bảng giá thịt bò Mỹ
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="bang-gia-thit-bo-uc.html" title="Bảng giá thịt bò Úc">
                                                        Bảng giá thịt bò Úc
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="thit-bo-my-gia-si.html" title="Thịt bò Mỹ giá sỉ">
                                                        Thịt bò Mỹ giá sỉ
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="thit-bo-uc-gia-si.html" title="Thịt bò Úc giá sỉ">
                                                        Thịt bò Úc giá sỉ
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="nha-cung-cap-thuc-pham-sach.html" title="Dịch vụ">
                                                Dịch vụ
                                            </a>
                                        </li>
                                        <li>
                                            <a href="contact.html" title="Liên hệ">
                                                Liên hệ
                                            </a>
                                            <ul class="lv2">
                                                <li>
                                                    <a href="contact/wholesale.html" title="Yêu cầu báo giá sỉ - bán buôn">
                                                        Yêu cầu báo giá sỉ - bán buôn
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="contact/form.html" title="Liên hệ mở Đại lý - Chi nhánh">
                                                        Liên hệ mở Đại lý - Chi nhánh
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul><!-- .lv1 -->
                                </nav>
                                <nav id="nav-menu-page" class="open-m-extend visible-xs" data-fix-extend="#min-menu-page">
                                    <div class="lbl">Menu</div>
                                    <button class="btn btn-info btn-md"><i class="fa fa-navicon"></i></button>
                                </nav><!-- #nav menu page -->
                                <div class="m-extend-overlay close-m-extend"></div>

                            </section><!-- #menu-page -->
                        </div>
                        <div class="col-lg-2 visible-lg">
                            <form class="form-search" rel="nofollow" method="post" action="http://www.thucphamsachhd.com/product/search">
                                <input name="kw" type="text" placeholder="Tìm sản phẩm ..." class="form-control-search" value="">
                                <button type="submit" name="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="col-lg-1 col-md-2 col-sm-1 padding0">
                            <div class="icon-cart">
                                <a href="http://www.thucphamsachhd.com/cart" rel="nofollow" title=" Giỏ hàng thực phẩm sạch">
                                    <img alt=" Giỏ hàng thực phẩm sạch" src="~/Content/themes/assets/img/icon-cart.png">
                                    <p><span>(0)</span></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </aside><!-- #header -->
    <div id="menu-role">
        <section class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#menu-role .col-md-3 button").click(function () {
                $(".list-cate").slideToggle();
            });
            $("#menu-role .col-md-3").append($("#sidebar-left").clone());
            $("#menu-role .col-md-9").append($("#max-menu-page").clone());
        });

    </script>
    <aside id="header-mobile" class="visible-xs">
        <section class="container">
            <div class="header">
                <div class="row row-0">
                    <div class="col-md-4">
                        <section id="logo">
                            <a href="index.html" title="Thực Phẩm Sạch HD"><img class="img-responsive" src="~/Content/themes/assets/img/logo-mobi.png" alt="Logo Thực phẩm sạch" /></a>
                        </section><!-- #logo -->
                    </div>
                    <div class="col-md-8">
                        <div class="hotline">
                            <img alt="Lẻ: 0911.929.828" src="~/Content/themes/assets/img/icon-phone.png" />
                            <a href="tel:0911-929-828" title="Lẻ: 0911.929.828"> <span class="h4"> Lẻ: 0911.929.828 </span></a>
                        </div>
                        <div class="icon-cart">
                            <a href="http://www.thucphamsachhd.com/cart" rel="nofollow" title=" Giỏ hàng thực phẩm sạch">
                                <img alt=" Giỏ hàng thực phẩm sạch" src="~/Content/themes/assets/img/icon-cart-mobile.png">
                                <p><span>(0)</span></p>
                            </a>
                        </div>
                        <div class="icon-search">
                            <div id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <form class="form-search" rel="nofollow" method="post" action="http://www.thucphamsachhd.com/product/search">
                                <input name="kw" type="text" placeholder="Tìm sản phẩm ..." class="form-control-search" value="">
                                <button type="submit" name="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <ul class="list-icon-service">
                            <li>
                                <img alt=" Giao hàng <br>nhanh chóng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/gh.png">
                                <p> Giao hàng <br>nhanh chóng </p>
                            </li>
                            <li>
                                <img alt=" Xuất xứ <br>rõ ràng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/xx.png">
                                <p> Xuất xứ <br>rõ ràng </p>
                            </li>
                            <li>
                                <img alt=" An toàn<br>chất lượng " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/at.png">
                                <p> An toàn<br>chất lượng </p>
                            </li>
                            <li>
                                <img alt=" Dịch vụ <br>Chuyên Nghiệp " src="http://www.thucphamsachhd.com/themes/thucphamsach/assets/img/vc.png">
                                <p> Dịch vụ <br>Chuyên Nghiệp </p>
                            </li>
                        </ul>
                    </div>
                    <!-- .wrap-menu-page -->
                </div><!-- .row-0 -->
            </div>
        </section>
        <div class="header-bot">
            <section class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8">
                        <section id="menu-page"></section><!-- #menu-page -->
                        <div class="sidebar-mobi">

                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </section>
        </div>
    </aside><!-- #header-->

    <div class="main_h1"><h1>Thực Phẩm Sạch HD</h1></div>
    <section id="main-home">
        @RenderBody()
    </section><!-- #main-home-->
    <script type="text/javascript">
        $(document).ready(function(){

            var mySwiper = new Swiper ('.swiper-container', {
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                slidesPerView: 1,
                paginationClickable: true,
                preventClicks: false,
                preventClicksPropagation: false,
                autoplay:3000,
                effect: "cube", // select effect cube
                cube: {         // set the options
                    slideShadows: true,
                    shadow: true,
                    shadowOffset: 40,
                    shadowScale: 0.84
                },
                loop: true,
                progress:true,
                onProgressChange: function(swiper){
                    for (var i = 0; i < swiper.slides.length; i++){
                        var slide = swiper.slides[i];
                        var progress = slide.progress;
                        var translate = progress*swiper.width;
                        var opacity = 1 - Math.min(Math.abs(progress),1);
                        slide.style.opacity = opacity;
                        swiper.setTransform(slide,'translate3d('+translate+'px,0,0)');
                    }
                },
                onTouchStart:function(swiper){
                    for (var i = 0; i < swiper.slides.length; i++){
                        swiper.setTransition(swiper.slides[i], 0);
                    }
                },
                onSetWrapperTransition: function(swiper) {
                    for (var i = 0; i < swiper.slides.length; i++){
                        swiper.setTransition(swiper.slides[i], swiper.params.speed);
                    }
                }
            })
        });
    </script>

    <footer id="footer">
        <div class="footer-top">
            <section class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="contact-footer">
                            <p class="footer-top-h4">Liên hệ</p>
                            <div class="address">


                                <p><img src="~/Content/themes/assets/img/icon-phone-ft.png" alt="0898.422.735"> Tổng đài: 028.7303.8494</p>
                                <p><img src="~/Content/themes/assets/img/icon-mail.png" alt="">kinhdoanh@hddvn.com </p>
                                <p>Cửa hàng Q3: 15 Bàn cờ, P3, Q3, TP.HCM- Holine (0911929828) </p>
                            </div>
                        </div>
                    </div>
                    <div class="info-statistic info-statistic-mobile">
                        <p class="visible-xs">Đia chỉ: 456/36a Cao Thắng, Phường 12, Quận 10, Tp.HCM </p>
                        <p class="visible-xs">Cửa hàng Q3: 15 Bàn cờ, P3, Q3, TP.HCM- Holine (0911929828) </p>
                        <!-- <p><a rel="nofollow" title="Thiết kế web chuyên nghiệp" href="http://vietsol.net/" target="_blank">Thiết kế</a> bởi <a title="Công ty thiết kế web" rel="nofollow" href="http://www.vietsol.net/gioi-thieu-cong-ty/" target="_blank"><span>Viet Solution</span></a></p> -->
                    </div>
                    <div class="col-md-3">
                        <div class="policy">
                            <a href="help.html" rel="nofollow" title=" QUY ĐỊNH &amp; CHÍNH SÁCH"><p class="footer-top-h4"> QUY ĐỊNH &amp; CHÍNH SÁCH</p></a>
                            <ul class="list-policy">
                                <li>
                                    <a href="help/detail/chinh-sach-bao-mat-thong-tin.html" rel="nofollow" title="Chính sách bảo mật thông tin">Chính sách bảo mật thông tin</a>
                                </li>
                                <li>
                                    <a href="help/detail/chinh-sach-giao-hang-va-thanh-toan.html" rel="nofollow" title="Chính sách Giao hàng và thanh toán">Chính sách Giao hàng và thanh toán</a>
                                </li>
                                <li>
                                    <a href="chinh-sach-doi-tra-hang.html" rel="nofollow" title="Chính sách đổi trả hàng">Chính sách đổi trả hàng</a>
                                </li>
                                <li>
                                    <a href="help/detail/quy-dinh-va-huong-dan-mua-hang.html" rel="nofollow" title="Quy định và hướng dẫn mua hàng">Quy định và hướng dẫn mua hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="fb-page" data-href="https://www.facebook.com/thucphamsachHD1/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/thucphamsachHD1/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thucphamsachHD1/" rel="nofollow" title="Facebook Thuc pham sach HD">Thuc pham sach HD</a></blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="info-statistic">
                            <p> Đang online: <span> 26</span></p>
                            <p> Tổng truy cập:<span>  51461</span></p>
                            <p><a title="Thiết kế web chuyên nghiệp" rel="nofollow" href="http://vietsol.net/" target="_blank">Thiết kế Web</a> bởi <span>Viet Solution</span></p>
                            <p><a style="color:white" href="http://www.sieuthithitbo.net/" target="_blank" title="Thịt bò sạch">Thịt bò sạch </a></p>
                        </div>
                    </div>
                </div>
                <p class="abc">
                    CÔNG TY TNHH TMDV TƯ VẤN HDD
                    GPKD số 0314311486  Cấp ngày 24/03/2017, được sửa đổi lần thứ hai ngày 29/08/2017- Sở KHĐT Tp.HCM
                </p>
                <p class="abcd"><img src="~/Content/themes/assets/img/icon-home.png" alt="456/36a Cao Thắng, Phường 12, Quận 10, Tp.HCM ">456/36a Cao Thắng, Phường 12, Quận 10, Tp.HCM </p>
            </section>
        </div>
        <div class="copy-right">
            <section class="container">
                <p class="hidden-xs"> Copyright 2016 by <a style="color:white" href="index.html" title="Thực phẩm sạch">Thực phẩm sạch </a> HD</p>

            </section>
        </div><!-- .container-fluid -->
    </footer><!-- #footer -->
    <script type="text/javascript">
        var baseURL	= "index.html";
        var lang 	= "";
    </script>

    <!-- Boostrap -->
    <script src="~/Content/themes/assets/js/bootstrap.min.js"></script>
    <!-- Toolkit boostrap -->
    <script src="~/Content/themes/assets/js/bootstrap-toolkit.min.js"></script>
    <script src="~/Content/themes/assets/js/bootstrap-number-input.js"></script>
    <!-- fix extend -->
    <script src="~/Content/themes/assets/js/m-extend/jquery.mobile-events.min.js"></script>
    <script src="~/Content/themes/assets/js/m-extend/m-extend.js"></script>
    <script src="~/Content/themes/assets/js/m-extend/m-extend-pro.js"></script>
    <script src="~/Content/themes/assets/js/m-extend/m-extend-tablet.js"></script>
    <script type="text/javascript" src="~/Content/themes/assets/js/fotorama/fotorama.js"></script>
    <!-- Carousel -->
    <script src="~/Content/themes/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/themes/assets/js/swiper/swiper.min.js"></script>
    <script src="~/Content/themes/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!-- main -->
    <script src="~/Content/themes/assets/js/main.js"></script>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "../connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=1665341717126471";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','../connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1013077342098575');
        fbq('track', "PageView");</script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1013077342098575&amp;ev=PageView&amp;noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Google Code for dat hang Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 980079197;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "d745CLXJ_mgQ3aSr0wM";
        var google_remarketing_only = true;
        /* ]]> */
        $(document).ready(function(){
            onscroll = function() {
                var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                if (scrollTop > 1150) {
                    $('#menu-role').show(400);
                } else {
                    $('#menu-role').hide(400);
                }
                if (scrollTop > 100) {
                    $('#menu-tablet-role').addClass('sidebar-bot-fixed');
                } else {
                    $('#menu-tablet-role').removeClass('sidebar-bot-fixed');
                }
                if (scrollTop > 100) {
                    $('#header-mobile .header-bot').addClass('sidebar-bot-fixed');
                } else {
                    $('#header-mobile .header-bot').removeClass('sidebar-bot-fixed');
                }
            };

        });
    </script>
    <script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/980079197/?label=d745CLXJ_mgQ3aSr0wM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <script type="text/javascript">
        var google_tag_params = {

            dynx_pagetype: "home",

        };

        /* <![CDATA[ */
        var google_conversion_id = 980079197;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/980079197/?value=0&amp;guid=ON&amp;script=0" />
        </div>

    </noscript>

    <!-- Material font -->
    <link href="~/Content/themes/assets/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Awesome font -->
    <link href="~/Content/themes/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Roboto fonts -->
    <link href="~/Content/themes/assets/css/font-roboto.css" rel="stylesheet" />
    <!-- Roboto condensed fonts -->
    <link href="~/Content/themes/assets/css/font-roboto-condensed.css" rel="stylesheet" />
    <!-- Owl carousel -->
    <link rel="stylesheet" href="~/Content/themes/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/themes/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/themes/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/themes/assets/js/fotorama/fotorama.css">
    <!-- Swiper -->
    <link href="~/Content/themes/assets/js/swiper/swiper.min.css" rel="stylesheet" />
    <!-- Reponsive -->
    <link href="~/Content/themes/assets/css/reponsive.css" rel="stylesheet" />
    <link href="themes/vendor/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

        ga('create', "UA-82058701-1", 'auto');
        ga('send', 'pageview');

    </script>
    <style>
        #fb_widget .label {
            position: relative;
            float: left;
            color: #005f46;
            min-width: 20%;
        }

        #fb_widget .field {
            position: relative;
            float: left;
        }

        #fb_widget .element {
            border: 0 dotted red;
            margin: 12px;
            padding: 5px;
            min-height: 25px;
            clear: both;
        }

        #fb_widget .field input {
            margin: 0;
            padding: 0;
        }

        #fb_link.disabled {
            opacity: 0;
            visibility: hidden;
        }

            #fb_link.disabled .tooltiptext {
                font-size: 0;
            }

                #fb_link.disabled .tooltiptext:after {
                    content: "OFFLINE";
                    font-size: 12px;
                }

        #fb_link.email_us .tooltiptext {
            font-size: 0;
        }

        #img_email {
            display: none;
        }

        #fb_link.email_us .tooltiptext:after {
            content: "EMAIL US";
            font-size: 12px;
        }

        .fbmessenger {
            position: fixed;
            bottom: 15px;
            right: 15px;
            z-index: 999999999;
        }

            .fbmessenger span {
                z-index: 999999999;
                position: absolute;
            }

            .fbmessenger.wpostop_left {
                left: 2px;
                right: initial;
                top: 0;
                bottom: initial;
            }

        .tooltiptext.wpostop_left {
            left: 60px;
            right: initial;
            top: 8px;
            bottom: initial;
        }

        .fbmessenger.wpostop_right {
            left: initial;
            right: 15px;
            top: 0;
            bottom: initial;
        }

        .tooltiptext.wpostop_right {
            left: initial;
            right: 60px;
            top: 8px;
            bottom: initial;
        }

        .fbmessenger.wposbottom_left {
            left: 2px;
            right: initial;
            top: initial;
            bottom: 25px;
        }

        .tooltiptext.wposbottom_left {
            left: 60px;
            right: initial;
            top: initial;
            bottom: 25px;
        }

        .fbmessenger.wposbottom_right {
            left: initial;
            right: 15px;
            top: initial;
            bottom: 25px;
        }

        .tooltiptext.wposbottom_right {
            left: initial;
            right: 60px;
            top: initial;
            bottom: 25px;
        }

        .fbmessenger img {
            width: 50px;
            filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
            -webkit-filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
        }

        .tooltiptext {
            width: 120px;
            background-color: #fff;
            color: #2c2c2c;
            text-align: center;
            padding: 5px 0;
            border: 1px solid #eee;
            border-radius: 6px;
            position: fixed;
            bottom: 30px;
            right: 75px;
            font-family: inherit;
            font-size: inherit;
            text-transform: uppercase;
            filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
            -webkit-filter: drop-shadow(2px 6px 4px rgba(0,0,0,.3));
        }
    </style>
    <script src="../code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript">
        $.noConflict();
        var ot = Array();
        ot['mon']='5:45 AM-10:00 PM';
        ot['tue']='6:00 AM-10:15 PM';
        ot['wed']='5:45 AM-10:00 PM';
        ot['thu']='5:45 AM-10:15 PM';
        ot['fri']='5:45 AM-10:15 PM';
        ot['sat']='5:45 AM-6:15 PM';
        ot['sun']='5:45 AM-6:00 PM';
        var tz = '+07:00,0';
        var widget_position = 'bottom_right';
        var fb = 'thucphamsachhd1';
        var fb_email = 'kinhdoanh@thucphamsachhd.com';
        var emailLink = true;
        var mon = true;
        var tue = true;
        var wed = true;
        var thu = true;
        var fri = true;
        var sat = true;
        var sun = true;
        function calculate_time_zone(ch){
            if (typeof ch == "undefined") ch = false;
            var rightNow = new Date();
            var jan1 = new Date(rightNow.getFullYear(), 0, 1, 0, 0, 0, 0);  /* jan 1st */
            var june1 = new Date(rightNow.getFullYear(), 6, 1, 0, 0, 0, 0); /* june 1st */
            var temp = jan1.toGMTString();
            var jan2 = new Date(temp.substring(0, temp.lastIndexOf(" ")-1));
            temp = june1.toGMTString();
            var june2 = new Date(temp.substring(0, temp.lastIndexOf(" ")-1));
            var std_time_offset = (jan1 - jan2) / (1000 * 60 * 60);
            var daylight_time_offset = (june1 - june2) / (1000 * 60 * 60);
            var dst;
            if (std_time_offset == daylight_time_offset) {
                dst = "0"; /* daylight savings time is NOT observed */
            } else {
                /* positive is southern, negative is northern hemisphere */
                var hemisphere = std_time_offset - daylight_time_offset;
                if (hemisphere >= 0)
                    std_time_offset = daylight_time_offset;
                dst = "1"; /* daylight savings time is observed */
            }
            var i;
            /* check just to avoid error messages */
            var con = convert(std_time_offset)+","+dst;
            if (ch && document.getElementById('timezone')) {
                for (i = 0; i < document.getElementById('timezone').options.length; i++) {
                    if (document.getElementById('timezone').options[i].value == con) {
                        document.getElementById('timezone').selectedIndex = i;
                        break;
                    }
                }
            }
            return con;}
        function linkHandler(e){
            var is_online = validate();
            if (is_online){
                e.preventDefault();
                var screenwidth = screen.width-500;
                window.open(jQuery(this).attr('href'), '_blank',"width=500,height=800,left="+screenwidth);
            }else{
                if (jQuery("#chk_showemaillink").is(':checked') && jQuery("#fb_email").length > 0){
                    var fb_email = jQuery("#fb_email").val();

                    if (fb_email!="" && isEmail(fb_email) && jQuery("#fb_link").hasClass("email_us")){
                        jQuery(this).attr('href',"mailto:"+fb_email);
                        jQuery(this).attr('target','_self');
                    }else{
                        e.preventDefault();
                        var screenwidth = screen.width-500;
                        window.open(jQuery(this).attr('href'), '_blank',"width=500,height=800,left="+screenwidth);
                    }
                }else if (emailLink) {
                    console.log(this);
                }else if ( jQuery(this).hasClass("disabled")) {
                    e.preventDefault();
                }
            }}
        function convert(value){
            var hours = parseInt(value);
            value -= parseInt(value);
            value *= 60;
            var mins = parseInt(value);
            value -= parseInt(value);
            value *= 60;
            var secs = parseInt(value);
            var display_hours = hours;
            /* handle GMT case (00:00) */
            if (hours == 0) {
                display_hours = "00";
            } else if (hours > 0) {
                /* add a plus sign and perhaps an extra 0 */
                display_hours = (hours < 10) ? "+0"+hours : "+"+hours;
            } else {
                /* add an extra 0 if needed */
                display_hours = (hours > -10) ? "-0"+Math.abs(hours) : hours;
            }
            mins = (mins < 10) ? "0"+mins : mins;
            return display_hours+":"+mins;}
        function validate(){
            /*console.clear();*/
            if (jQuery("#fb_url").length >0 ){
                fb = jQuery("#fb_url").val();
            }
            if (fb==""){
                sweetAlert("Oops...", "Something went wrong!", "error");
                return false;
            }
            if (jQuery("#chk_mon").length > 0 ){
                mon = jQuery("#chk_mon").is(":checked");
                tue = jQuery("#chk_tue").is(":checked");
                wed = jQuery("#chk_wed").is(":checked");
                thu = jQuery("#chk_thu").is(":checked");
                fri = jQuery("#chk_fri").is(":checked");
                sat = jQuery("#chk_sat").is(":checked");
                sun = jQuery("#chk_sun").is(":checked");
            }
            var cDate = new Date();

            var days = Array();

            days['mon'] = mon;
            days['tue'] = tue;
            days['wed'] = wed;
            days['thu'] = thu;
            days['fri'] = fri;
            days['sat'] = sat;
            days['sun'] = sun;
            var daysName = [];
            daysName[1] = "mon";
            daysName[2] = "tue";
            daysName[3] = "wed";
            daysName[4] = "thu";
            daysName[5] = "fri";
            daysName[6] = "sat";
            daysName[7] = "sun";
            if (jQuery("#timezone").length>0){
                tz = jQuery("#timezone").val();
            }
            if (jQuery("#widget_position").length>0){
                widget_position = jQuery("#widget_position").val();
            }
            jQuery(".fbmessenger").removeClass().addClass("fbmessenger wpos"+widget_position);
            jQuery(".tooltiptext").removeClass().addClass("tooltiptext wpos"+widget_position);
            jQuery("#fb_link").attr("href", "http://m.me/"+fb);
            var cDayofWeek = daysName[cDate.getDay()];
            jQuery("#fb_link").removeClass("disabled");
            var calculated_time_zone = calculate_time_zone();
            var baseTzSy = tz.substr(0,1);
            var baseTzHr = tz.slice(0, tz.indexOf(":"));
            var baseTzMn = tz.substr(tz.indexOf(":")+1,2);
            var baseTzDs = tz.slice(-1);
            var clientTzDs = calculated_time_zone.slice(-1);
            if (baseTzSy=="0") baseTzSy="";
            if (baseTzSy=="+") baseTzHr = baseTzHr.substr(1);
            var conTz = parseInt(baseTzHr) + parseFloat(baseTzMn/60);
            var baseTime = calcTime(conTz, conTz);
            var baseDayofWeek = baseTime.getDay();

            if (baseDayofWeek==0) baseDayofWeek = 7;

            if (days[daysName[baseDayofWeek]]){
                /*Online on Base Day. Check for online time under base timezone*/
                if (jQuery('.slider-time:visible').length>0) {
                    /*Desktop Mode*/
                    s = jQuery("#ts_container-"+daysName[baseDayofWeek]+" .slider-time").html();
                    e = jQuery("#ts_container-"+daysName[baseDayofWeek]+" .slider-time2").html();
                    var start_time = convertTimeFormat(s);
                    var end_time = convertTimeFormat(e);
                }else if (jQuery('#mob_container_time').length>0) {
                    /*Mobile Mode*/
                    s = jQuery("#start_time-"+daysName[baseDayofWeek]).val();
                    e = jQuery("#end_time-"+daysName[baseDayofWeek]).val();
                    var start_time = convertTimeFormat(s);
                    var end_time = convertTimeFormat(e);
                }else{
                    /*if validate() was called within widget code*/
                    var t = ot[daysName[baseDayofWeek]].split("-");
                    var start_time = convertTimeFormat(t[0]);
                    var end_time = convertTimeFormat(t[1]);
                }
                /* Convert the time in HH:MM Format*/

                /*console.log("Current Time on local Machine: " + cDate.getTime()/1000);
                console.log("The local time in selected timezone is " + localTime.getTime());*/
                /*Time on Client Machine*/
                cHrs = cDate.getHours();
                cMin = cDate.getMinutes();

                /* Convert the time in HH:MM Format*/

                var osTimeHrs= start_time.slice(0, start_time.indexOf(":"));
                var osTimeMins= start_time.substr(start_time.indexOf(":")+1, 2 );

                var oeTimeHrs= end_time.slice(0, end_time.indexOf(":"));
                var oeTimeMins= end_time.substr(end_time.indexOf(":")+1, 2 );

                console.log("Online time in base timezone("+daysName[baseDayofWeek]+"): " + osTimeHrs+":"+osTimeMins+" - " + oeTimeHrs+":"+oeTimeMins);

                lHrs = baseTime.getHours();
                lMin = baseTime.getMinutes();
                var startTimeTs = new Date(baseTime.getFullYear(), baseTime.getMonth(), baseTime.getDate(), osTimeHrs, osTimeMins, 0, 0);
                startTimeTs = parseInt( (startTimeTs.getTime() )/1000);
                var endTimeTs = new Date(baseTime.getFullYear(), baseTime.getMonth(), baseTime.getDate(), oeTimeHrs, oeTimeMins, 0, 0);
                endTimeTs = parseInt( (endTimeTs.getTime() )/1000);

                sT = new Date(startTimeTs * 1000);
                eT = new Date(endTimeTs * 1000);
                /*console.log("Curr Hrs: " +cHrs+" Local Hrs:"+lHrs+ " Start Time: "+startTimeTs + " : "+sT);
                console.log("Curr Mins: "+cMin+" Local Mins:"+lMin+ " End Time: "+endTimeTs +" : "+eT);*/

                var cTs = parseInt(baseTime.getTime()/1000);

                if ( (cTs >= startTimeTs) && (cTs < endTimeTs) ){
                    /*console.log("ONLINE");*/
                    jQuery("#fb_link").removeClass("disabled").removeClass("email_us");
                    jQuery("#img_email").hide();
                    jQuery("#img_msg").show();
                    return true;
                }else{
                    /*console.log("OFFLINE");*/

                    if (jQuery("#chk_showemaillink").length > 0){
                        emailLink = jQuery("#chk_showemaillink").is(':checked');
                        fb_email = jQuery("#fb_email").val();
                    }else{
                        emailLink = emailLink;
                    }
                    if (emailLink){
                        jQuery('#fb_link').attr('href',"mailto:"+fb_email);
                        jQuery('#fb_link').attr('target','_self');
                        if (fb_email!="" && isEmail(fb_email) ){
                            jQuery("#fb_link").removeClass("disabled").addClass("email_us");
                            jQuery("#img_email").show();
                            jQuery("#img_msg").hide();
                        }else{
                            jQuery("#img_email").hide();
                            jQuery("#img_msg").show();
                        }
                    }else{
                        jQuery("#fb_link").addClass("disabled");
                    }

                }
            }else{
                /*console.log("OFFLINE");*/
                if (jQuery("#chk_showemaillink").length > 0){
                    emailLink = jQuery("#chk_showemaillink").is(':checked');
                    fb_email = jQuery("#fb_email").val();
                }else{
                    emailLink = emailLink;
                }
                if (emailLink){
                    jQuery('#fb_link').attr('href',"mailto:"+fb_email);
                    jQuery('#fb_link').attr('target','_self');
                    if (fb_email!="" && isEmail(fb_email) ){
                        jQuery("#fb_link").removeClass("disabled").addClass("email_us");
                        jQuery("#img_email").show();
                        jQuery("#img_msg").hide();
                    }else{
                        jQuery("#img_email").hide();
                        jQuery("#img_msg").show();
                    }
                }else{
                    jQuery("#fb_link").addClass("disabled");
                }

            }
            /*console.log("Current time in base timezone is: "+ (baseTime.toLocaleString()));*/
            return false;}
        function convertTimeFormat(time){
            /*Convert the time into HH:MM format*/
            var hours = Number(time.match(/^(\d+)/)[1]);
            var minutes = Number(time.match(/:(\d+)/)[1]);
            var AMPM = time.match(/\s(.*)$/)[1];
            if(AMPM == "PM" && hours<12) hours = hours+12;
            if(AMPM == "AM" && hours==12) hours = hours-12;
            var sHours = hours.toString();
            var sMinutes = minutes.toString();
            if(hours<10) sHours = "0" + sHours;
            if(minutes<10) sMinutes = "0" + sMinutes;
            return sHours+":"+sMinutes;}
        function calcTime(city, offset){
            /* create Date object for current location */
            d = new Date();
            /* convert to msec
               add local time zone offset
               get UTC time in msec */
            utc = d.getTime() + (d.getTimezoneOffset() * 60000);
            /* create new Date object for different city
               using supplied offset */
            nd = new Date(utc + (3600000*offset));
            return nd; /* return time as a string */}
       function isEmail(email){
   
        return regex.test(email);}

        jQuery( document ).ready(function($) {
            calculate_time_zone(true);
            validate();
            setInterval(validate, 30000);
            $('#fb_link').click(linkHandler);
        });
    </script>
    <div class='code'> <a id="fb_link" href="http://m.me/thucphamsachhd1" target="_self" class="" style="display: inline;"><div class="fbmessenger wposbottom_right"><img id="img_msg" src="../supple.com.au/wp-content/themes/supple/img/msg.png" style="display: inline;"><img id="img_email" src="../supple.com.au/wp-content/themes/supple/img/emailc.png" style="display: none;"> <span class="hidden-xs tooltiptext wposbottom_right">Tư vấn</span></div> </a></div>
    <!--Facebook Chat Widget - Made by Supple Solutions - https://supple.com.au/tools/facebook-messenger-website-chat-widget/ -->
</body>
<!-- Mirrored from www.thucphamsachhd.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Oct 2017 10:05:47 GMT -->
</html>
