@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-slider" id="slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a title="MỞ ĐẠI LÝ THỊT NHẬP KHẨU Ở VIỆT NAM - CƠ HỘI KINH DOANH “ VỐN NHỎ LỜI TO”" target="_blank" href="mo-dai-ly-thit-nhap-khau-o-viet-nam-co-hoi-kinh-doanh-von-nho-loi-to.html">
                    <img alt="MỞ ĐẠI LÝ THỊT NHẬP KHẨU Ở VIỆT NAM - CƠ HỘI KINH DOANH “ VỐN NHỎ LỜI TO”" src="~/Content/themes/assets/uploads/files/2017/10/24/dai_ly.png">
                </a>
            </div>
            <div class="swiper-slide">
                <a title="THỊT NHẬP KHẨU CHO NHÀ HÀNG BBQ – CƠ HỘI TĂN G LỢI NHUẬN 30 TRIỆU/THÁNG" target="_blank" href="thit-nhap-khau-cho-nha-hang-bbq-co-hoi-tang-loi-nhuan-30-trieuthang.html">
                    <img alt="THỊT NHẬP KHẨU CHO NHÀ HÀNG BBQ – CƠ HỘI TĂNG LỢI NHUẬN 30 TRIỆU/THÁNG" src="~/Content/themes/assets/uploads/files/2017/10/24/nha_hang_BBQ.png">
                </a>
            </div>
            <div class="swiper-slide">
                <a title="CUNG CẤP THỊT NHẬP KHẨU GIÁ SỈ CHO NHÀ HÀNG TIỆC CƯỚI" target="_blank" href="cung-cap-thit-nhap-khau-gia-si-cho-nha-hang-tiec-cuoi.html">
                    <img alt="CUNG CẤP THỊT NHẬP KHẨU GIÁ SỈ CHO NHÀ HÀNG TIỆC CƯỚI" src="~/Content/themes/assets/uploads/files/2017/10/24/nha_hang_tiec_cuoi.png">
                </a>
            </div>
            <div class="swiper-slide">
                <a title="Khuyến mãi hấp dẫn tặng sốt cho hóa đơn từ 400k" target="_blank" href="chuong-trinh-khuyen-mai-thuong-thuc-tron-vi-voi-nhieu-qua-tang-hap-dan.html">
                    <img alt="Khuyến mãi hấp dẫn tặng sốt cho hóa đơn từ 400k" src="~/Content/themes/assets/uploads/files/2017/10/21/tang-chai-nuoc-sot-thu3-cover-web.png">
                </a>
            </div>
            <div class="swiper-slide">
                <a title="Thịt bò - Nguồn thực phẩm dồi dào dinh dưỡng cho bé" target="_blank" href="nguon-dinh-duong-doi-dao-tu-thit-bo-cho-be.html">
                    <img alt="Thịt bò - Nguồn thực phẩm dồi dào dinh dưỡng cho bé" src="~/Content/themes/assets/uploads/files/2017/05/31/cover-web-tpshd-1920x566-child.png">
                </a>
            </div>
            <div class="swiper-slide">
                <a title="Thịt bò chứa nhiều dinh dưỡng cho sự phát triển của thai nhi" target="_blank" href="thit-bo-co-vai-tro-the-nao-trong-qua-trinh-mang-thai-cua-me.html">
                    <img alt="Thịt bò chứa nhiều dinh dưỡng cho sự phát triển của thai nhi" src="~/Content/themes/assets/uploads/files/2017/05/31/cover-web-tpshd-1920x566-mom.png">
                </a>
            </div>
            <div class="swiper-slide">
                <a title="Thịt bò là sự lựa chọn số 1 của các chuyên gia thể hình" target="_blank" href="thit-bo-su-lua-chon-so-1-cua-cac-chuyen-gia-the-hinh.html">
                    <img alt="Thịt bò là sự lựa chọn số 1 của các chuyên gia thể hình" src="~/Content/themes/assets/uploads/files/2017/05/30/cover-web-tpshd-1920x566-2-.png">
                </a>
            </div>

        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<div class="slider-product">
    <section class="container">
        <div class="row">
            <div class="col-lg-3 visible-lg">
                <section id="sidebar-left">
                    <div class="category-product" id="list-cat-sidebar">
                        <div class="title-cate cate-home" id="cate-title">
                            <button><img src="~/Content/themes/assets/img/icon-list-product.png" alt="Danh mục sản phẩm"><span>Danh mục sản phẩm</span></button>
                        </div>
                        <div class="list-cate" id="list-cate-tablet">
                            <ul class="lv1">
                                <li class="have-child">
                                    <a href="thit-sach.html">Thịt bò sạch</a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="thit-bo-my.html">Thịt Bò Mỹ</a>
                                        </li>
                                        <li>
                                            <a href="thit-sach/thit-bo-uc.html">Thịt Bò Úc</a>
                                        </li>
                                        <li>
                                            <a href="thit-sach/thit-bo-kobe-uc.html">Thịt Bò Kobe Úc</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="have-child">
                                    <a href="thit-sach/thit-heo-sach.html">Thịt Heo Sạch</a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="thit-sach/thit-heo-sach/thit-heo-tay-ban-nha.html">Thịt heo Tây Ban Nha</a>
                                        </li>
                                        <li>
                                            <a href="thit-sach/thit-heo-sach/thit-heo-duc.html">Thịt heo Đức</a>
                                        </li>
                                        <li>
                                            <a href="thit-sach/thit-heo-sach/thit-heo-ba-lan.html">Thịt heo Ba Lan</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="have-child">
                                    <a href="dac-san-viet-nam.html">Đặc sản Việt Nam</a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="dac-san-mien-bac.html">Đặc sản miền Bắc</a>
                                        </li>
                                        <li>
                                            <a href="dac-san-mien-nam.html">Đặc sản miền Nam</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="thit-ga-sach-1.html">Thịt gà sạch</a>
                                </li>
                                <li>
                                    <a href="thit-sach/thit-nai-new-zealand.html">Thịt Nai New Zealand</a>
                                </li>
                                <li>
                                    <a href="thit-sach/thit-cuu.html">Thịt Cừu và Thịt Dê New Zealand</a>
                                </li>
                                <li>
                                    <a href="thit-sach/thit-be-new-zealand.html">Thịt Bê New Zealand</a>
                                </li>
                                <li>
                                    <a href="thit-sach/thit-de-uc.html">Thịt Dê Úc</a>
                                </li>
                                <li>
                                    <a href="thit-sach/thit-cuu-uc.html">Thịt Cừu Úc</a>
                                </li>
                                <li class="have-child">
                                    <a href="hai-san-sach.html">Hải sản sạch</a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="hai-san-sach/tom-su.html">Tôm sú</a>
                                        </li>
                                        <li>
                                            <a href="hai-san-sach/tom-the.html">Tôm thẻ</a>
                                        </li>
                                        <li>
                                            <a href="hai-san-sach/bach-tuoc-tuoi-song.html">Bạch Tuộc</a>
                                        </li>
                                        <li>
                                            <a href="hai-san-sach/muc-ong-tuoi.html">Mực Ống</a>
                                        </li>
                                        <li>
                                            <a href="hai-san-sach/ca-chem.html">Cá chẽm</a>
                                        </li>
                                        <li>
                                            <a href="hai-san-sach/tom-hum.html">Tôm Hùm</a>
                                        </li>
                                        <li>
                                            <a href="hai-san-sach/ca-hoi-tuoi.html">Cá Hồi </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="have-child">
                                    <a href="thuc-pham-nhap-khau.html">Thực Phẩm Nhập Khẩu</a>
                                    <ul class="lv2">
                                        <li>
                                            <a href="thuc-pham-nhap-khau/pate-xuc-xich.html">Paté - Xúc xích</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="gia-vi-uop-nuong.html">Gia vị ướp nướng</a>
                                </li>
                                <li>
                                    <a href="thuc-pham-sach-khac.html">Sản phẩm khác</a>
                                </li>
                            </ul><!-- .lv1 -->
                        </div>
                        <div class="banner-sidebar">
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-md-12 col-lg-9">
                <div class="product product-sale">
                    <div class="title">
                        <h3>SẢN PHẨM HOT</h3>
                    </div>
                    <div class="list-product">
                        <div class="row">
                            <div class="owl-carousel owl-theme owl-list-product">
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả Bề Bề Giã Đồ Sơn" href="cha-be-be-gia.html">
                                                <img alt="Chả Bề Bề Giã Đồ Sơn" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/Ch-b-b-gi--248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/400"> <img alt="Mua nhanh Chả Bề Bề Giã Đồ Sơn" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả Bề Bề Giã Đồ Sơn" href="cha-be-be-gia.html">Chả Bề Bề Giã Đồ Sơn</a>
                                            </h3>
                                            <span>
                                                150,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả tôm sú Đồ Sơn" href="cha-tom-su.html">
                                                <img alt="Chả tôm sú Đồ Sơn" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/cha_tom-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/398"> <img alt="Mua nhanh Chả tôm sú Đồ Sơn" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả tôm sú Đồ Sơn" href="cha-tom-su.html">Chả tôm sú Đồ Sơn</a>
                                            </h3>
                                            <span>
                                                150,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả Tôm Đồ Sơn (nguyên con)" href="cha-tom-nguyen-con.html">
                                                <img alt="Chả Tôm Đồ Sơn (nguyên con)" src="~/Content/themes/assets/uploads/files/2017/10/18/thumbs/Ch-t-m-nguy-n-con-2--248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/397"> <img alt="Mua nhanh Chả Tôm Đồ Sơn (nguyên con)" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả Tôm Đồ Sơn (nguyên con)" href="cha-tom-nguyen-con.html">Chả Tôm Đồ Sơn (nguyên con)</a>
                                            </h3>
                                            <span>
                                                175,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả cá Thác Lác Phú Yên" href="cha-ca-thac-lac.html">
                                                <img alt="Chả cá Thác Lác Phú Yên" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/Thai-Fish-Cakes-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/394"> <img alt="Mua nhanh Chả cá Thác Lác Phú Yên" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả cá Thác Lác Phú Yên" href="cha-ca-thac-lac.html">Chả cá Thác Lác Phú Yên</a>
                                            </h3>
                                            <span>
                                                130,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả ốc Tây Hồ" href="cha-oc-tay-ho.html">
                                                <img alt="Chả ốc Tây Hồ" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/CH-c-0-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/392"> <img alt="Mua nhanh Chả ốc Tây Hồ" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả ốc Tây Hồ" href="cha-oc-tay-ho.html">Chả ốc Tây Hồ</a>
                                            </h3>
                                            <span>
                                                150,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả cua bể Đồ Sơn" href="cha-cua-be.html">
                                                <img alt="Chả cua bể Đồ Sơn" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/cha-cua-be-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/391"> <img alt="Mua nhanh Chả cua bể Đồ Sơn" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả cua bể Đồ Sơn" href="cha-cua-be.html">Chả cua bể Đồ Sơn</a>
                                            </h3>
                                            <span>
                                                150,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Chả cốm Mễ Trì" href="cha-com.html">
                                                <img alt="Chả cốm Mễ Trì" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/Ch-c-m-0-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/390"> <img alt="Mua nhanh Chả cốm Mễ Trì" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Chả cốm Mễ Trì" href="cha-com.html">Chả cốm Mễ Trì</a>
                                            </h3>
                                            <span>
                                                115,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Thăn nội bò Úc Tenderloin" href="than-noi-bo-uc-tenderloin.html">
                                                <img alt="Thăn nội bò Úc" src="~/Content/themes/assets/uploads/files/2017/09/11/thumbs/tenderloin_black_background-248x181-2.png">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/373"> <img alt="Mua nhanh Thăn nội bò Úc Tenderloin" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Thăn nội bò Úc Tenderloin" href="than-noi-bo-uc-tenderloin.html">Thăn nội bò Úc Tenderloin</a>
                                            </h3>
                                            <span>
                                                290,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Thịt thăn ngoại đùi bò Kobe Úc " href="thit-than-ngoai-dui-bo-kobe-uc.html">
                                                <img alt="Thịt thăn ngoại đùi bò Kobe Úc" src="~/Content/themes/assets/uploads/files/2016/07/05/thumbs/20160702_V-n_Th-t-th-n-ngo-i-i-b-Kobe-c_1-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/38"> <img alt="Mua nhanh Thịt thăn ngoại đùi bò Kobe Úc " src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Thịt thăn ngoại đùi bò Kobe Úc " href="thit-than-ngoai-dui-bo-kobe-uc.html">Thịt thăn ngoại đùi bò Kobe Úc </a>
                                            </h3>
                                            <span>
                                                4,850,000  ₫
                                                / Kg
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Sườn bò Úc  SHORTRIBS – Làm mới khẩu vị của bạn ngay hôm nay" href="thit-bo-uc/suon-bo-uc-shortribs.html">
                                                <img alt="Sườn bò Úc thương hiệu SHORTRIBS – Làm mới khẩu vị của bạn ngay hôm nay" src="~/Content/themes/assets/uploads/files/2016/07/08/thumbs/160607_HYEN_-S-n-b-c-th-ng-hi-u-Barcoo-L-m-m-i-kh-u-v-c-a-b-n-ngay-h-m-nay_2-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/59"> <img alt="Mua nhanh Sườn bò Úc  SHORTRIBS – Làm mới khẩu vị của bạn ngay hôm nay" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Sườn bò Úc  SHORTRIBS – Làm mới khẩu vị của bạn ngay hôm nay" href="thit-bo-uc/suon-bo-uc-shortribs.html">Sườn bò Úc  SHORTRIBS – Làm mới khẩu vị của bạn ngay hôm nay</a>
                                            </h3>
                                            <span>
                                                170,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product product-news">
                    <div class="title">
                        <h3>SẢN PHẨM Mới</h3>
                        <p>Sức khỏe là vàng - An toàn cho mỗi bữa ăn</p>
                    </div>
                    <div class="list-product">
                        <div class="row">
                            <div class="owl-carousel owl-theme owl-list-product">
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Cá hồi tươi phi lê" href="ca-hoi-tuoi-phi-le.html">
                                                <img alt="Cá hồi tươi phi lê" src="~/Content/themes/assets/uploads/files/2017/10/25/thumbs/CA_HOI_TUOI-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/403"> <img alt="Mua nhanh Cá hồi tươi phi lê" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Cá hồi tươi phi lê" href="ca-hoi-tuoi-phi-le.html">Cá hồi tươi phi lê</a>
                                            </h3>
                                            <span>
                                                275,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Đặc sản Chim Trĩ làm sạch nguyên con" href="dac-san-chim-tri-lam-sach-nguyen-con.html">
                                                <img alt="Đặc sản Chim Trĩ làm sạch nguyên con" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/chim-tr-nguy-n-con-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/401"> <img alt="Mua nhanh Đặc sản Chim Trĩ làm sạch nguyên con" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Đặc sản Chim Trĩ làm sạch nguyên con" href="dac-san-chim-tri-lam-sach-nguyen-con.html">Đặc sản Chim Trĩ làm sạch nguyên con</a>
                                            </h3>
                                            <span>
                                                360,000  ₫
                                                / Gói (nguyên con)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Bề Bề Ôm Sả" href="be-be-om-sa.html">
                                                <img alt="Bề Bề Ôm Sả" src="~/Content/themes/assets/uploads/files/2017/10/18/thumbs/b-b-m-s-2--248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/399"> <img alt="Mua nhanh Bề Bề Ôm Sả" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Bề Bề Ôm Sả" href="be-be-om-sa.html">Bề Bề Ôm Sả</a>
                                            </h3>
                                            <span>
                                                150,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Nem Bề Bề Đồ Sơn" href="nem-be-be.html">
                                                <img alt="Nem Bề Bề Đồ Sơn" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/nem-b-b--248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/396"> <img alt="Mua nhanh Nem Bề Bề Đồ Sơn" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Nem Bề Bề Đồ Sơn" href="nem-be-be.html">Nem Bề Bề Đồ Sơn</a>
                                            </h3>
                                            <span>
                                                150,000  ₫
                                                / Hộp (10 viên)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Nem Tôm Sú Đồ Sơn" href="nem-tom-su.html">
                                                <img alt="Nem Tôm Sú Đồ Sơn" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/cha-gio-tom-3-480x334-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/395"> <img alt="Mua nhanh Nem Tôm Sú Đồ Sơn" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Nem Tôm Sú Đồ Sơn" href="nem-tom-su.html">Nem Tôm Sú Đồ Sơn</a>
                                            </h3>
                                            <span>
                                                170,000  ₫
                                                / Hộp (10 viên)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Nem Cua Biển Đồ Sơn" href="nem-cua-bien.html">
                                                <img alt="Nem Cua Biển Đồ Sơn" src="~/Content/themes/assets/uploads/files/2017/10/17/thumbs/nem-cua-bi-n-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/393"> <img alt="Mua nhanh Nem Cua Biển Đồ Sơn" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Nem Cua Biển Đồ Sơn" href="nem-cua-bien.html">Nem Cua Biển Đồ Sơn</a>
                                            </h3>
                                            <span>
                                                160,000  ₫
                                                / Hộp (10 viên)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Ba Rọi Rút Sườn Heo Đức" href="ba-roi-rut-suon-heo-duc.html">
                                                <img alt="Ba rọi rút sườn heo Đức" src="~/Content/themes/assets/uploads/files/2017/09/12/thumbs/Ba-r-i-r-t-s-n-248x181-2.png">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/388"> <img alt="Mua nhanh Ba Rọi Rút Sườn Heo Đức" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Ba Rọi Rút Sườn Heo Đức" href="ba-roi-rut-suon-heo-duc.html">Ba Rọi Rút Sườn Heo Đức</a>
                                            </h3>
                                            <span>
                                                98,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Nạc đùi heo Tây Ban Nha" href="nac-dui-heo-tay-ban-nha.html">
                                                <img alt="Nạc đùi heo Tây Ban Nha" src="~/Content/themes/assets/uploads/files/2017/09/12/thumbs/480_crop_cover-nac-dui-1-248x181-2.png">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/387"> <img alt="Mua nhanh Nạc đùi heo Tây Ban Nha" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Nạc đùi heo Tây Ban Nha" href="nac-dui-heo-tay-ban-nha.html">Nạc đùi heo Tây Ban Nha</a>
                                            </h3>
                                            <span>
                                                64,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Cật Heo Đức" href="cat-heo-duc.html">
                                                <img alt="Cật heo Đức" src="~/Content/themes/assets/uploads/files/2017/09/12/thumbs/C-t-heo-2-248x181-2.png">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/386"> <img alt="Mua nhanh Cật Heo Đức" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Cật Heo Đức" href="cat-heo-duc.html">Cật Heo Đức</a>
                                            </h3>
                                            <span>
                                                42,500  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Sườn BBQ heo Tây Ban Nha" href="suon-bbq-heo-tay-ban-nha.html">
                                                <img alt="Sườn BBQ heo Tây Ban Nha" src="~/Content/themes/assets/uploads/files/2017/09/12/thumbs/S-n-BBQ-heo-248x181-2.png">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/385"> <img alt="Mua nhanh Sườn BBQ heo Tây Ban Nha" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Sườn BBQ heo Tây Ban Nha" href="suon-bbq-heo-tay-ban-nha.html">Sườn BBQ heo Tây Ban Nha</a>
                                            </h3>
                                            <span>
                                                55,500  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div> <!-- list product sale - news -->
<div class="main-home">
    <section class="container">

        <div class="banner-top">
            <img src="~/Content/themes/assets/uploads/files/2017/04/04/banner2-1140x170-m-i.png" alt="Thịt bò nhập khẩu ">
        </div>

        <div class="product-cate">
            <div class="row">
                <div class="col-md-6 col-sm-7 product">
                    <div class="title">
                        <a href="thit-sach.html" title="Thịt bò sạch"><h2>Thịt bò sạch</h2></a>
                        <!-- <p>Lựa chọn thực phẩm sạch HD mang lại giá trị dinh dưỡng cao cho gia đình bạn</p> -->
                    </div>
                    <div class="list-product">
                        <div class="row">
                            <div class="owl-theme owl-list-cate">
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Ba rọi Bò Mỹ Short Plate – Thực phẩm dinh dưỡng cho gia đình." href="thit-bo-my/ba-roi-bo-my-short-plate.html">
                                                <img alt="Ba rọi Bò Mỹ Short Plate – Thực phẩm dinh dưỡng cho gia đình" src="~/Content/themes/assets/uploads/files/2016/07/08/thumbs/160706_HY-n_-Ba-r-i-B-M-short-plate-Th-c-ph-m-Ngon-B-R-cho-m-i-ng-i-_2-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/54"> <img alt="Mua nhanh Ba rọi Bò Mỹ Short Plate – Thực phẩm dinh dưỡng cho gia đình." src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Ba rọi Bò Mỹ Short Plate – Thực phẩm dinh dưỡng cho gia đình." href="thit-bo-my/ba-roi-bo-my-short-plate.html">Ba rọi Bò Mỹ Short Plate – Thực phẩm dinh dưỡng cho gia đình.</a>
                                            </h3>
                                            <span>
                                                120,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Lõi vai bò Mỹ Top Blade – Tiêu chuẩn cho những món ăn cao cấp" href="thit-bo-my/loi-vai-bo-my-top-blade.html">
                                                <img alt="Lõi vai bò Mỹ Top Blade – Tiêu chuẩn cho những món ăn cao cấp" src="~/Content/themes/assets/uploads/files/2016/07/08/thumbs/160706_HYEN_L-i-vai-b-M-Top-Blade-Ti-u-chu-n-cho-nh-ng-m-n-n-cao-c-p_3-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/57"> <img alt="Mua nhanh Lõi vai bò Mỹ Top Blade – Tiêu chuẩn cho những món ăn cao cấp" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Lõi vai bò Mỹ Top Blade – Tiêu chuẩn cho những món ăn cao cấp" href="thit-bo-my/loi-vai-bo-my-top-blade.html">Lõi vai bò Mỹ Top Blade – Tiêu chuẩn cho những món ăn cao cấp</a>
                                            </h3>
                                            <span>
                                                190,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Thịt cổ Bò Mỹ Chuck Roll" href="thit-bo-my/thit-co-bo-my-clodblade.html">
                                                <img alt="Thịt cổ Bò Mỹ CLOD/BLADE" src="~/Content/themes/assets/uploads/files/2016/07/05/thumbs/20160703_V-n_Th-t-c-B-M-m-n-ngon-h-p-d-n-v-n-ng-i-m-_2-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/40"> <img alt="Mua nhanh Thịt cổ Bò Mỹ Chuck Roll" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Thịt cổ Bò Mỹ Chuck Roll" href="thit-bo-my/thit-co-bo-my-clodblade.html">Thịt cổ Bò Mỹ Chuck Roll</a>
                                            </h3>
                                            <span>
                                                175,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Bắp Hoa bò Mỹ HEEL MUSCLE BEEF" href="thit-bo-my/bap-hoa-bo-my-heel-muscle-beef.html">
                                                <img alt="Bắp Hoa bò Mỹ HEEL MUSCLE BEEF" src="~/Content/themes/assets/uploads/files/2016/07/18/thumbs/B-p-Hoa-b-M-HEEL-MUSCLE-BEEF-1-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/258"> <img alt="Mua nhanh Bắp Hoa bò Mỹ HEEL MUSCLE BEEF" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Bắp Hoa bò Mỹ HEEL MUSCLE BEEF" href="thit-bo-my/bap-hoa-bo-my-heel-muscle-beef.html">Bắp Hoa bò Mỹ HEEL MUSCLE BEEF</a>
                                            </h3>
                                            <span>
                                                195,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="GẦU BÒ MỸ BRISKET POINT – MÓN NGON ĐỦ KIỂU CHO GIA ĐÌNH VIỆT" href="thit-bo-my/gau-bo-my-brisket-point.html">
                                                <img alt="GẦU BÒ MỸ BRISKET POINT – MÓN NGON ĐỦ KIỂU CHO GIA ĐÌNH VIỆT" src="~/Content/themes/assets/uploads/files/2016/07/08/thumbs/160706_HYEN_-G-U-B-M-BRISKET-POINT-M-N-NGON-KI-U-CHO-GIA-NH-VI-T_1-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/56"> <img alt="Mua nhanh GẦU BÒ MỸ BRISKET POINT – MÓN NGON ĐỦ KIỂU CHO GIA ĐÌNH VIỆT" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="GẦU BÒ MỸ BRISKET POINT – MÓN NGON ĐỦ KIỂU CHO GIA ĐÌNH VIỆT" href="thit-bo-my/gau-bo-my-brisket-point.html">GẦU BÒ MỸ BRISKET POINT – MÓN NGON ĐỦ KIỂU CHO GIA ĐÌNH VIỆT</a>
                                            </h3>
                                            <span>
                                                180,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="item-product">
                                        <div class="image">
                                            <a title="Bắp Bò Úc Shinkshank" href="thit-bo-uc/bap-bo-uc-shinkshank.html">
                                                <img alt="Bắp Bò Úc Shinkshank" src="~/Content/themes/assets/uploads/files/2016/07/08/thumbs/B-p-B-c-248x181-2.jpg">
                                            </a>
                                            <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/79"> <img alt="Mua nhanh Bắp Bò Úc Shinkshank" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                        </div>
                                        <div class="content">
                                            <h3>
                                                <a title="Bắp Bò Úc Shinkshank" href="thit-bo-uc/bap-bo-uc-shinkshank.html">Bắp Bò Úc Shinkshank</a>
                                            </h3>
                                            <span>
                                                115,000  ₫
                                                / 500g
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="thit-sach.html" title="Thịt bò sạch" class="see-more-product">Xem tất cả <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="img-banner-cate">
                        <img title="Thịt sạch" alt="Thịt sạch" src="~/Content/themes/assets/uploads/files/2017/04/04/banner-555x408-thit-sach.png" />
                    </div>
                </div>
            </div>
        </div>



        <div class="product-cate">
            <div class="row">
                <div class="col-md-6 col-sm-7 product">
                    <div class="title">
                        <a href="thit-sach/thit-heo-sach.html" title="Thịt Heo Sạch"><h2>Thịt Heo Sạch</h2></a>
                        <!-- <p>Thit heo giá rẻ tại thực phẩm sạch HD - giá rẻ thơm ngon, bổ dưỡng, đảm bảo an toàn vệ sinh thực phẩm.Click để tham khảo thêm giá!
                        Bạn đang cần:
                        •	Nguyên liệu chế biến các món ngon và thơm nức hương vị
                        •	Thực phẩm tuyệt đối an toàn cho sức khỏe
                        •	Một nơi cung cấp thực phẩm uy tín, có kiểm nghiệm an toàn thực phẩm.
                        Thực Phẩm Sạch HD chính là đơn vị mà bạn đang tìm kiếm. Thực Phẩm Sạch HD chuyên cung cấp các thực phẩm sạch nhập khẩu. Có thể đáp ứng mọi nhu cầu của bạn. Với sản phẩm chất lượng, dịch vụ chuyên nghiệp. Thực phẩm Sạch HD cam kết đem đến cho quý khách hàng những sản phẩm chất lượng nhất với giá tốt nhất thị trường TP. HCM. Tất cả các sản phẩm tai Thực Phẩm Sạch đều có giấy kiểm định VSATTP với nguồn gốc rõ ràng theo tiêu chuẩn nhập khẩu quốc. Thực Phẩm Sạch HD hân hạnh phục vụ quý khách.</p> -->
                        <div class="list-product">
                            <div class="row">
                                <div class="owl-theme owl-list-cate">
                                    <div class="col-md-4 ">
                                        <div class="item-product">
                                            <div class="image">
                                                <a title="Khoai Tây Hà Lan Finest cắt thẳng 7mm" href="khoai-tay-ha-lan-finest-cat-thang-7mm.html">
                                                    <img alt="Khoai Tây Hà Lan Finest cắt thẳng 7mm" src="~/Content/themes/assets/uploads/files/2016/07/02/thumbs/Khoai-T-y-H-Lan-Finest-3-248x181-2.jpg">
                                                </a>
                                                <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/43"> <img alt="Mua nhanh Khoai Tây Hà Lan Finest cắt thẳng 7mm" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                            </div>
                                            <div class="content">
                                                <h3>
                                                    <a title="Khoai Tây Hà Lan Finest cắt thẳng 7mm" href="khoai-tay-ha-lan-finest-cat-thang-7mm.html">Khoai Tây Hà Lan Finest cắt thẳng 7mm</a>
                                                </h3>
                                                <span>
                                                    125,000  ₫
                                                    / Bịch 2Kg
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="item-product">
                                            <div class="image">
                                                <a title="Khoai Tây Hà Lan Finest cắt thẳng 10mm" href="khoai-tay-ha-lan.html">
                                                    <img alt="Khoai Tây Hà Lan Finest cắt thẳng 10mm" src="~/Content/themes/assets/uploads/files/2016/07/02/thumbs/Khoai-T-y-H-Lan-Finest-1-248x181-2.jpg">
                                                </a>
                                                <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/18"> <img alt="Mua nhanh Khoai Tây Hà Lan Finest cắt thẳng 10mm" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                            </div>
                                            <div class="content">
                                                <h3>
                                                    <a title="Khoai Tây Hà Lan Finest cắt thẳng 10mm" href="khoai-tay-ha-lan.html">Khoai Tây Hà Lan Finest cắt thẳng 10mm</a>
                                                </h3>
                                                <span>
                                                    129,000  ₫
                                                    / Bịch 2Kg
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="item-product">
                                            <div class="image">
                                                <a title="Mật ong Nhãn Hưng Yên" href="mat-ong-nhan-hung-yen.html">
                                                    <img alt="Mật ong Nhãn Hưng Yên" src="~/Content/themes/assets/uploads/files/2016/07/02/thumbs/DSC_1339-copy-248x181-2.jpg">
                                                </a>
                                                <a rel="nofollow" class="quick_order" title="Mua nhanh sản phẩm này" href="http://www.thucphamsachhd.com/cart/add/15"> <img alt="Mua nhanh Mật ong Nhãn Hưng Yên" src="themes/thucphamsach/assets/img/cart-pro.png"> </a>
                                            </div>
                                            <div class="content">
                                                <h3>
                                                    <a title="Mật ong Nhãn Hưng Yên" href="mat-ong-nhan-hung-yen.html">Mật ong Nhãn Hưng Yên</a>
                                                </h3>
                                                <span>
                                                    150,000  ₫
                                                    / Hủ (500ml)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="thuc-pham-sach-khac.html" title="Sản phẩm khác" class="see-more-product">Xem tất cả <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-5">
                        <div class="img-banner-cate">
                            <img title="" alt="" src="~/Content/themes/assets/uploads/files/2016/07/14/San-Pham-Khac.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5">
                    <div class="img-banner-cate">
                        <img title="Thịt heo sạch" alt="Thịt heo sạch" src="~/Content/themes/assets/uploads/files/2017/04/04/banner-555x408-thit-sach.png">
                    </div>
                </div>
            </div>


            <!-- <div class="banner-top banner-bottom">
                <img src="img/banner-top.png" alt="">
            </div> -->
    </section>
</div>
<div class="news-home">
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product list-video">
                    <div class="title">
                        <h3>VIDEO CLIP ẨM THỰC CHỌN LỌC</h3>
                        <p>Hướng dẫn nấu các món ăn ngon cho gia đình thật đơn giản và phong phú</p>
                        <a href="video-thuc-pham-sach.html">Xem tất cả <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        <br />
                    </div>
                    <div class="slider-video">
                        <div class="row ">
                            <div class="col-md-12 col-sm-6 video clearfix">
                                <iframe rel="nofollow" width="560" height="315" src="https://www.youtube.com/embed/M2AA91W1xSI" frameborder="0" allowfullscreen></iframe>
                                <a rel="nofollow" title="Bò cuốn khoai tây - Cách làm bò cuốn khoai tây" href="bo-cuon-khoai-tay-cach-lam-bo-cuon-khoai-tay.html">
                                    <p class="clearfix ">Bò cuốn khoai tây - Cách làm bò cuốn khoai tây</p>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-3 col-xs-6">
                                <div class="item">
                                    <a title="Món ngon từ thịt bò - thịt bò xào mông cổ" href="mon-ngon-tu-thit-bo-thit-bo-xao-mong-co.html">
                                        <img title="Món ngon từ thịt bò - thịt bò xào mông cổ" src="~/Content/themes/assets/uploads/files/2017/03/02/thumbs/b-x-o-m-ng-c--181x114-2.jpg">
                                        <p>Món ngon từ thịt bò - thịt bò xào mông cổ</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-3 col-xs-6">
                                <div class="item">
                                    <a title="Bò Bít tết - Món Ngon Mỗi Ngày" href="bo-bit-tet-mon-ngon-moi-ngay.html">
                                        <img title="Bò Bít tết - Món Ngon Mỗi Ngày" src="~/Content/themes/assets/uploads/files/2016/07/18/thumbs/-i-Beep-Steak-B-M-Topside-2-181x114-2.jpg">
                                        <p>Bò Bít tết - Món Ngon Mỗi Ngày</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-3 col-xs-6">
                                <div class="item">
                                    <a title="Ngọc Mực xào Tỏi" href="ngoc-muc-xao-toi.html">
                                        <img title="Ngọc Mực xào Tỏi" src="~/Content/themes/assets/uploads/files/2016/07/12/thumbs/M-c-x-o-chua-cay-copy-181x114-2.jpg">
                                        <p>Ngọc Mực xào Tỏi</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-3 col-xs-6">
                                <div class="item">
                                    <a title="Mực Xào Hành Tây Món Ngon Dễ Làm" href="muc-xao-hanh-tay-mon-ngon-de-lam.html">
                                        <img title="Mực Xào Hành Tây Món Ngon Dễ Làm" src="~/Content/themes/assets/uploads/files/2016/07/16/thumbs/muc-xao-hanh-tay-1-181x114-2.jpg">
                                        <p>Mực Xào Hành Tây Món Ngon Dễ Làm</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product list-news">
                    <div class="title">
                        <h3>TIN TỨC</h3>
                        <p>Nơi tổng hợp và chia sẻ các thông tin kiến thức Thực phẩm sạch & An toàn cho mọi người</p>
                        <a href="news.html">Xem tất cả <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="list-item-news">
                        <div class="item-news">
                            <a title="“HEO CHÍCH THUỐC” VÀ “THỰC PHẨM BẨN” HẠI TỚI ĐÂU?" href="heo-chich-thuoc-va-thuc-pham-ban-hai-toi-dau.html">
                                <div class="image">
                                    <img title="“HEO CHÍCH THUỐC” VÀ “THỰC PHẨM BẨN” HẠI TỚI ĐÂU?" src="~/Content/themes/assets/uploads/files/2017/10/20/thumbs/thit-heo-bom-thuoc-an-than-133x114-2.jpg">
                                </div>
                            </a>
                            <div class="content">
                                <p class="date-time">
                                    10/20<br>
                                    2017
                                </p>
                                <a title="“HEO CHÍCH THUỐC” VÀ “THỰC PHẨM BẨN” HẠI TỚI ĐÂU?" href="heo-chich-thuoc-va-thuc-pham-ban-hai-toi-dau.html"><h5>“HEO CHÍCH THUỐC” VÀ “THỰC PHẨM BẨN” HẠI TỚI ĐÂU?</h5></a>
                                <p>Thời gian gần đây, việc người chăn nuôi sử dụng phương pháp chích thuốc không còn quá xa lạ bởi sự quan tâm của truyền thông và dư luận. Bài viết sau đây sẽ đưa ra một số tác hại n... </p>
                                <a title="“HEO CHÍCH THUỐC” VÀ “THỰC PHẨM BẨN” HẠI TỚI ĐÂU?" href="heo-chich-thuoc-va-thuc-pham-ban-hai-toi-dau.html" class="see-more hidden-xs"> Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="item-news">
                            <a title="Thông báo dừng chương trình khuyến mãi SUPER CHEAP FRIDAY- Giảm đến 30% các loại thịt bò nhập khẩu" href="thong-bao-dung-chuong-trinh-khuyen-mai-super-cheap-friday-giam-den-30-cac-loai-thit-bo-nhap-khau.html">
                                <div class="image">
                                    <img title="Thông báo dừng chương trình khuyến mãi SUPER CHEAP FRIDAY- Giảm đến 30% các loại thịt bò nhập khẩu" src="~/Content/themes/assets/uploads/files/2017/10/07/thumbs/thankyou-133x114-2.jpg">
                                </div>
                            </a>
                            <div class="content">
                                <p class="date-time">
                                    10/07<br>
                                    2017
                                </p>
                                <a title="Thông báo dừng chương trình khuyến mãi SUPER CHEAP FRIDAY- Giảm đến 30% các loại thịt bò nhập khẩu" href="thong-bao-dung-chuong-trinh-khuyen-mai-super-cheap-friday-giam-den-30-cac-loai-thit-bo-nhap-khau.html"><h5>Thông báo dừng chương trình khuyến mãi SUPER CHEAP FRIDAY- Giảm đến 30% các loại thịt bò nhập khẩu</h5></a>
                                <p>Thực phẩm sạch HD xin thông báo tới quý khách dừng chương trình khuyến mãi SUPER CHEAP FRIDAY- Giảm đến 30% các loại thịt bò nhập khẩu ... </p>
                                <a title="Thông báo dừng chương trình khuyến mãi SUPER CHEAP FRIDAY- Giảm đến 30% các loại thịt bò nhập khẩu" href="thong-bao-dung-chuong-trinh-khuyen-mai-super-cheap-friday-giam-den-30-cac-loai-thit-bo-nhap-khau.html" class="see-more hidden-xs"> Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="item-news">
                            <a title="Beefsteak ngon rẻ tại Lý Thường Kiệt quận 11 – điểm đến của những teen ghiền thịt bò" href="beefsteak-ngon-re-tai-ly-thuong-kiet-quan-11-diem-den-cua-nhung-teen-ghien-thit-bo.html">
                                <div class="image">
                                    <img title="Beefsteak ngon rẻ tại Lý Thường Kiệt quận 11 – điểm đến của những teen ghiền thịt bò" src="~/Content/themes/assets/uploads/files/2017/10/05/thumbs/cach-lam-bo-bit-tet-5-133x114-2.jpg">
                                </div>
                            </a>
                            <div class="content">
                                <p class="date-time">
                                    10/05<br>
                                    2017
                                </p>
                                <a title="Beefsteak ngon rẻ tại Lý Thường Kiệt quận 11 – điểm đến của những teen ghiền thịt bò" href="beefsteak-ngon-re-tai-ly-thuong-kiet-quan-11-diem-den-cua-nhung-teen-ghien-thit-bo.html"><h5>Beefsteak ngon rẻ tại Lý Thường Kiệt quận 11 – điểm đến của những teen ghiền thịt bò</h5></a>
                                <p>Bít tết luôn là một món ăn mà các bạn học sinh sinh viên cực kì yêu thích, tuy nhiên giá cả của món ăn này lại khá cao khiến nhiều bạn không thể thưởng thức thường xuyên được. Tron... </p>
                                <a title="Beefsteak ngon rẻ tại Lý Thường Kiệt quận 11 – điểm đến của những teen ghiền thịt bò" href="beefsteak-ngon-re-tai-ly-thuong-kiet-quan-11-diem-den-cua-nhung-teen-ghien-thit-bo.html" class="see-more hidden-xs"> Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="item-news">
                            <a title="Bít tết ngon chuẩn vị châu  u – bữa trưa ngon cho dân công sở Sài Thành" href="bit-tet-ngon-chuan-vi-chau-u-bua-trua-ngon-cho-dan-cong-so-sai-thanh.html">
                                <div class="image">
                                    <img title="Bít tết ngon chuẩn vị châu  u – bữa trưa ngon cho dân công sở Sài Thành" src="~/Content/themes/assets/uploads/files/2017/10/05/thumbs/bo-bit-tet-133x114-2.jpg">
                                </div>
                            </a>
                            <div class="content">
                                <p class="date-time">
                                    10/05<br>
                                    2017
                                </p>
                                <a title="Bít tết ngon chuẩn vị châu  u – bữa trưa ngon cho dân công sở Sài Thành" href="bit-tet-ngon-chuan-vi-chau-u-bua-trua-ngon-cho-dan-cong-so-sai-thanh.html"><h5>Bít tết ngon chuẩn vị châu  u – bữa trưa ngon cho dân công sở Sài Thành</h5></a>
                                <p>
                                    Có gì ở nhà hàng bít tết 299 sắp ra mắt ?

                                    Một không gian mát lạnh, thoáng đãng và lịch sự thích hợp cho những cuộc gặp gỡ đồng nghiệp và bạn bè. Một thực đơn phong phú với nhiều...
                                </p>
                                <a title="Bít tết ngon chuẩn vị châu  u – bữa trưa ngon cho dân công sở Sài Thành" href="bit-tet-ngon-chuan-vi-chau-u-bua-trua-ngon-cho-dan-cong-so-sai-thanh.html" class="see-more hidden-xs"> Xem thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
